.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 15px;
  border: 2px solid rgba(110, 110, 110, 0.65);
}
.fa-chevron-circle-left {
  position: absolute;
  top: 50%;
  left: 30px;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 11;
  color: #fff;
}
.fa-chevron-circle-right {
  position: absolute;
  top: 50%;
  right: 30px;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 11;
  color: #fff;
}
.fa-chevron-circle-right:hover,.fa-chevron-circle-left:hover{
  transform: scale(0.9);
  transition: 0.2s linear;
} 
.slide {
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transition: 0.7s linear;
  transform: scale(1.1);
}
